.screen{
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100vh;
}

.controls{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.textarea{
  width: 80%;
  border-radius: 5px;
}